@model FilmWebPortal.ViewModels.FilmViewModel

@{
    ViewBag.Title = "Створити";
}
<h2>Додати</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Фільм</h4>
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-10">
            <label class="control-label col-2" for="Name">Назва</label>
            <div class="col-10">
                <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
            <br />

            @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
        </div>
        @*@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })*@

        <div class="col-10">

            <label class="control-label col-2" for="Description">Опис</label>
            <div class="col-10">
                <input class="form-control text-box single-line" id="Description" name="Description" type="text" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
            </div>

            @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })*@


        </div>

        <br />
        <br />
        <div class="container form-group">
            @using (Html.BeginForm("Films", "Create"))
             {
                foreach (var item in Model.ActorsAll)
                {

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="ActorsAll[i]"
                                   class="messageCheckbox"
                                   value="@item.Id" /> @item.FirstName  @item.LastName
                            </label>
                        </div>

                }
             }

        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" onclick="SaveFilm()" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Повернутися до списку", "Index")
</div>
<script src="~/Scripts/controller/filmController.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
