@model IEnumerable<FilmWebPortal.Models.Film>

@{
    ViewBag.Title = "Index";
   
}

<h2>Фільми</h2>

<p>
    @Html.ActionLink("Додати", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDay)
        </th>
        <th></th>
    </tr>

    @foreach (var FilmItem in Model)//TO DO
    {
           
                @Html.DisplayFor(modelItem => FilmItem.Name)
            
                @Html.DisplayFor(modelItem => FilmItem.Description)
            
                @Html.DisplayFor(modelItem => FilmItem.ReleaseDay)@*//TODO*@
            
                <h4>В ролях: </h4>
                foreach (var Actoritem in FilmItem.Actors)
                {
          
                    @Html.DisplayFor(modelItem => Actoritem.FirstName)
               
                    @Html.DisplayFor(modelItem => Actoritem.LastName)
           
        }


               
               
                    @*@Html.ActionLink("Редагувати", "Edit", new { id = FilmItem.Id }) |
                    @Html.ActionLink("Деталі", "Details", new { id = FilmItem.Id }) |
                    @Html.ActionLink("Видалити", "Delete", new { id = FilmItem.Id })*@
                
            }

</table>
