@model IEnumerable<FilmWebPortal.Models.Film>

@{
    ViewBag.Title = "Index";
   
}

<h2>Фільми</h2>

<p>
    @Html.ActionLink("Додати", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDay)
        </th>
        <th>
            <b>В ролях</b>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director.Name)
        </th>
        <th>
            
        </th>
    </tr>

    @foreach (var FilmItem in Model)//TO DO
    {
    <tr>
        <td>
            @Html.DisplayFor(model => FilmItem.Name)
        </td>
        <td>
            @Html.DisplayFor(model => FilmItem.Description)
        </td>
        <td>
            @Html.DisplayFor(model => FilmItem.ReleaseDay)
        </td>
        <td>
            <b>| </b>
            @foreach (var ActorItem in FilmItem.Actors)
            {
                 @Html.DisplayFor(modelItem => ActorItem.FirstName)
                 <b>  </b>
                 @Html.DisplayFor(modelItem => ActorItem.LastName)
                 <b> | </b>
             }
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id = FilmItem.Id }) |
            @Html.ActionLink("Докладніше", "Details", new { id = FilmItem.Id }) |
            @Html.ActionLink("Вилучити", "Delete", new { id = FilmItem.Id })
        </td>
    </tr>
    }
</table>

